<header>
    <ul class="nav bg-dark">
        <h3 class="text-light"> Pizza </h3>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="[ '/products' ]" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="[ '/blog' ]" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="[ '/about' ]" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="[ '/admin' ]" routerLinkActive="active">Admin</a>
        </li>
      </ul>
</header>
